
/**************************************** -- NAVBAR -- ***/
.navbar-nav { 
    margin-left: auto; 
}
.nav-item {
    margin-right:4px;
}
.bg-color-heading{
    background: white;
}
.navbar-toggler {
    border: none;
}
.dropdown-menu {
    border:none;
    font-size: 0.9em;
}
.dropdown-divider {
    margin: 0 45% 0 45%;
    background-color:#d3d3d3;
}


/**************************************** -- First Section -- ***/
.bonsaiBackground {
    display:block;
    background: url("../images/bonsai.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 40px;
    height: 1000px;
}



/**************************************** -- Second Section -- ***/

.bonsaiContent {
    display:block;
    text-align: center;
    color:white;
    width: 80%;
    margin: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.bonsaiSection {
    display: block;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding-bottom: 20px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border: 1px solid white;

}
.definitionSection {
    display: block;
    justify-content: center;
    width: 70vw;
    padding-bottom: 20px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border: 1px solid white;
}

.bonsaiContentSecond {
    margin-top: 350px;
}

.bonsai2Background {
    background: url("../images/bonsai2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
}

.linkEdit {
    width:175px;
    height: 50px;
    text-decoration: none;
    color: #fafafa;
}


/**************************************** -- Footer -- ***/
#footer-details {
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.socialFooter a{
    text-decoration: none;
    color:white;
}
.social-icon {
    margin: 20px;
}

.footerItem {
    padding-top: 30px;
    padding-bottom: 30px;
}

/**************************************** -- Grow.html -- ***/

.growSection {
    margin-top: 40px;
}

.seedDiv {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 100px;
}
.seedList {
    font-size: 1.6em;
    text-align: center;
    list-style: none;
    margin-top: 50px;
    padding: 0;
}
.seedList li {
    margin: auto 10%;
    margin-top: 40px;
}

.detailsEdit {
    background-color: rgba(88, 88, 88, 0.3);
    border-radius: 2px;
    padding: 10px;
}
details p {
    width: 70%;
    font-size: 0.6em;
    margin-left: 20%;
    margin-top: 15px;
}
.listTypo ul {
    list-style: none;
}
.listTypo li{
    font-size: 0.6em;
}
details a:hover {
    color: white;
}
/*
summary::-webkit-details-marker {
  display: none;
}
*/
.summaryEdit {
    outline: none;
}


.buyDiv {
    display:block;
    background-color: black;
    color: white;
    text-align: center;
}

/**************************************** -- Contact.html -- ***/

.contactBackground {
    background: url("../images/contactBG.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 40px;
    width: 100%;
    height: 900px;
}

.contactDiv{
    position: relative;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 1px solid white;
    left: 5vw;
    top: 150px;
    color:white;
    padding:20px;
}

.contactDiv ul {
    list-style-type: none;
}
.contactDiv ul li {
    margin-top: 10px;
}

.referenceLinks a {
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.referenceLinks a:hover {
    background-color:white;
    color:black;
    padding: 5px;
    border-radius: 5px;
}

.contactDivFooter {
    margin-top: 30px;
}

/**************************************** -- Typography -- ***/
.uppercase {
    text-transform: uppercase;
} 

.inline-block {
    display:inline-block;
}
.title {
    display:flex;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 300px;
    margin: 30px 10px 30px 10px;
    color:#fafafa;
}

.text-content {
    display:flex;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500px;
    margin: 30px 10px 30px 10px;
    color:white;
    -webkit-text-stroke: 0.5px black;
}

.planetButtons {
    color:#fafafa;
    text-align: center;
    width: 30%;
    margin: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 5px 5px 10px 5px;
}
.myButtons a {
    text-decoration: none;
    color: #fafafa;
}



/**************************************** -- Media Queries -- ***/
@media (min-width: 576px){
    .bonsaiContent {
        width: 70%;
    }
    .bonsaiContentSecond {
        margin-top:500px;
    }
}
@media (min-width: 768px){
    .bonsaiContent {
         width: 50%;
    }
    
    .contactDiv {
        width: 80vw;
    }
    
    
}
@media (min-width: 992px){
     .bonsaiSection {
         display:inline-block;
         width: 40%;
     }
     .definitionSection {
         display:inline-block;
         width:40%;
     }

     footer hr {
         display:none;
     }

     .contactDiv {
        width: 60vw;
    }
 }

 
@media (max-width: 768px){
    .contactBackground {
        background-position: -650px;
    }
}